Sparkline {
    width: 100%;
    margin: 2;
}


#upper > .sparkline--max-color {
    color: $error 30%;
}

#upper > .sparkline--min-color {
    color: $error;
}

#center > .sparkline--max-color {
    color: $success;
}

#center > .sparkline--min-color {
    color: $success 30%;
}

#lower > .sparkline--max-color {
    color: $error;
}

#lower > .sparkline--min-color {
    color: $error 30%;
}

